*{

            padding:0px;

            margin:0px;

            font-family:Arial;



        }



        nav{

            /*width:1440px;

            height:100px;*/

            width:100%; /*change to 100%*/
            height:100%;

            background-color:#22223b;

            list-style-type:none;



        }



        nav li {

            list-style-type:none;

            float:left;

            margin-left:50px;

            padding-left:100px;

            padding-top:40px;

            text-align:center;

            font-size:20px;

        }



        nav ul li a {

            color:#FFD700;

            text-align: center;

            text-decoration: none;

            padding-left: 65px;

        }

        h3 {
          font-family: "Emblema One";
          text-align: center;
          color: black;
      }

      p{
          font-family: "Kodchasan";
          text-align: justify;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 20px;
          /*background-color: white;*/
      }


      .arrow {

        padding-left:1350px;

        padding-top: 10px;

    }

    .project {
      position: absolute;
      padding-left:450px;
      top: 1320px
    }

    .house {
      position: absolute;
      padding-left: 90px;
      top: -30px;
    }




/*DROP DOWN*/ /* clean this up once u are done */

/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50;*/
  color: #FFD700;
  /*padding: 16px;*/
  font-size:20px
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown { /* this is for the drop down */
  /*position: relative;*/
  display: inline-block; /* responsible for letting dropdown stick */
}

/* Dropdown Content (Hidden by Default) */ /* change the displays */
.dropdown-content { /* this is for what's inside the dropdown box */
  display: none;
  /*position: absolute;*/
  background-color: #FFD700;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a { /* this is for whats inside the dropdown */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline-flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

