*{ /* applied to WHOLE DOC*/
/**/
    padding:0px;

    margin:0px;

    font-family:Arial;
  }

  body {
  background: url("vsac_lounge.jpeg") no-repeat fixed center; 
  background-size: cover; /*1350px 1013px*/
  /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("sac-chair.jpg") no-repeat fixed center;*/
}



  nav{ /* NAV BAR*/
    width:100%; /*change to 100%*/ 
    height:100%; /*change to 100%*/
    background-color:#22223b;
    list-style-type:none;
  }



  nav li {
    list-style-type:none;
    float:left;
    margin-left:50px;
    padding-left:100px;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-size:20px;
    /*margin-bottom: 20%;*/
  }

  nav ul li a {
    color:#FFD700;
    text-align: center;
    text-decoration: none;
    padding-left: 40px;
  }

  div.relative {
    width: 100%; /*1350px*/
    height: 100%; /*50px*/
    border: 3px solid #adb5bd;
    background-color: #adb5bd;
    text-align:justify; 
  }

  div.relative p{
    font-family: "Knewave";
    font-size:20px;
  }

  footer{
    background-color:#dcdcdd;
    width:100%;/*1350px*/
    height:100%;/*50px*/
    font-family: 
  }

  .arrow {
    padding-left:1290px;
    padding-top: 10px;
  }

  footer p {
    font-family: "Knewave";
    font-size:20px;
  }

  .logo {
    padding-right:300px;
    top: 90px;
  }

/*SLIDE SHOW CSS*/
  .slideshow-container {
    max-width: 350px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/*DROP DOWN*/ /* clean this up once u are done */

/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50;*/
  color: #FFD700;
  /*padding: 16px;*/
  font-size:20px
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown { /* this is for the drop down */
  /*position: relative;*/
  display: inline-block; /* responsible for letting dropdown stick */
}

/* Dropdown Content (Hidden by Default) */ /* change the displays */
.dropdown-content { /* this is for what's inside the dropdown box */
  display: none;
  /*position: absolute;*/
  background-color: #FFD700;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a { /* this is for whats inside the dropdown */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline-flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/