body {
  background-color: #12344a;
}

h3 {
  text-align: center;
  color: #a68445;
}

.container {
	
	/*text-align: center;  */
	/*display: block;*/
	margin: 10px 100px 0px 100px; /* compresses the width of the card */

}

/*CARD*/

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12344a;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;

}
